.plate {
  width: calc(100% / 2 - 5px);
  padding: 10px;
  border-radius: 10px;
  background-color: #5450d6;
  margin-bottom: 10px;
  display: flex;
  flex-direction: column;
  align-items: center;
  color: rgb(226, 226, 226);
}

.plate__counter {
  font-size: 25px;
  font-weight: bold;
  color: white;
}

.plate__btns {
  display: flex;
  margin-top: 10px;
}